$fontsize__sub: 14px;
$fontsize__button: 18px;
$fontsize__main: 80px;
$fontsize__choice: 30px;
$black: #000;

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.wrapper {
  width: 100%;
}

.question {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 20px 10px 0;

  &__item {
    flex: 1 0 auto;

    &-main {
      display: block;
      font-size: $fontsize__main;
      text-align: center;
      font-weight: bold;
    }
    &-sub {
      display: block;
      font-size: $fontsize__sub;
      margin-bottom: 10px;
      text-align: center;
    }
  }
}

.choices {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 10px;
  list-style-type: none;
  flex-flow: row wrap;
  width: 100vw;
  box-sizing: border-box;

  &__item {
    flex: 1 0 31%;
    border: 5px solid $black;
    padding: 10px 0;
    text-align: center;
    font-size: $fontsize__choice;
  }
}

.button__next {
  -webkit-appearance: none;
  text-align: center;
  display: block;
  border: 3px solid $black;
  margin: 0 auto;
  padding: 8px 0;
  text-align: center;
  font-size: $fontsize__button;
  width: 94%;
}

.result {
  text-align: center;
  margin: 0 10px;
  font-size: $fontsize__button;
}

.figure_wrap {
  position: relative;
  padding-top: 30px;
  width: 74%;
  margin: 0 auto;
}

.flet {
  display: flex;

  &_item {
    flex: 1 0 auto;
    border: 2px solid #999;
    border-right: 0;
    height: 175px;
    position: relative;
    box-sizing: border-box;

    &:last-of-type {
      flex: 0 1 0;
      border: 0;
      border-right: 2px solid #999;
    }

    &-broad {
      border-left: 4px solid #999;
    }

    > span {
      position: absolute;
      left: -9px;
      top: -23px;
      font-size: 14px;
    }
  }
}

.strings {
  width: 100%;
  position: absolute;
  top: 30px;

  &_item {
    height: 7px;
    position: absolute;
    width: 100%;

    > rect {
      width: 100%;
    }

    &:first-of-type {
      top: 24px;
    }

    @for $i from 2 through 6 {
      &:nth-of-type(#{$i}) {
        top: #{24 * $i}px;
      }
    }
  }
}

.mark {
  height: 20px;
  width: 20px;
  position: absolute;
}


@for $ii from 1 through 6 {
  .position_#{$ii}_0 {
    top: #{24 * $ii + 22}px;
    left: 42px;
  }

  .position_#{$ii}_1 {
    top: #{24 * $ii + 22}px;
    left: 145px;
  }

  .position_#{$ii}_2 {
    top: #{24 * $ii + 22}px;
    left: 247px;
  }
}
